@model TaskMngr.Models.Tsk

@{
    ViewData["Title"] = "Task";
}



<div>



    <div class="card mb-3">
        <div class="card-header">Task</div>
        <div class="card-body">
            <h4 class="card-title">@Model.Name</h4>
            <p class="card-text">@Model.Description</p>
        </div>

    </div>

    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger w-25" />
            <a class="btn btn-sm btn-outline-secondary w-25" asp-action="Index">Show all</a>
        </form>
    </div>
</div>